<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PRIISH</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about.html">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Consulting</a></li>
              </ul>
            </li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        
        <h1>About Us</h1>
        <p>We are Bengaluru Based Ecommerce company. We support our partners to manage their ecommerce accounts on various platforms by providing numerous free services.</p>
        <br>
       
     <div style="background-color: #2E2F31; padding: 50px; ">
      <div class="main-content"> 
        <span>
      <p><img class="about_img" src="/img/about.jpg" alt="Online Buying Image"></p>
      </span>
      </div>

      <h2>Are you Selling Online?</h2>
      <p style="font-size: 20px;">
          We address all your concerns related to online selling
          Multiple platform online marketing of products is something you should be looking into if you have not yet. If you are already into it, need not to say what tough competition you are facing. However, hiring experts for each task will make your job well done. But this again comes with an expensive tag which hinders your growth and eats up huge part of your profits. We are providing an amicable and affordable solution to this.
      </p>
    </div>
  </div>



      <h1>WHY CHOOSE US?</h1>
       <p> Four best reasons for you to choose to work with us.</p>


      <br><br><br><br><br>

    <div style="background-color: #2E2F31; padding: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-md-3" >
          <h2>End to End service</h2>
          <img class="serviceimg" onmouseover="bigImg(this)" onmouseout="normalImg(this)"  style="width: 250px; height: 150px;" src="/img/endtoend.png" alt="End to End Services Image">
          <p>We provide end to end service meaning you literally have 95% of work got done by us. You will be left with the works of sending goods and receiving money.</p>
        </div>
        <div class="col-md-3">
          <h2>Lowest comission </h2>
          <img class="serviceimg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" style="width: 250px; height: 150px;" src="/img/low.jpg" alt="Lowest Commision Image">
          <p>We charge the lowest commision inspite of the fact that we provide premier services. This is a wonderful combo and you get more than what you pay for.
      </p>
        </div>
          <div class="col-md-3">
          <h2>Prompt response</h3>
            <img class="serviceimg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" style="width: 250px; height: 150px;" src="/img/response.jpg" alt="Quick Response Image">
          <p>Be it to the customer or to our partner, we provide very prompt response which is the core principle of our company. In time delivery is our promise.</p>
        </div>
        <div class="col-md-3">
          <h2>Professional approach</h3>
            <img class="serviceimg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" style="width: 250px; height: 150px;" src="/img/prof.jpg" alt="Quick Response Image">
          <p>We are equipped with a team of professionals. The specialized team work hard to enhance the chance of your goods being sold.</p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
      function bigImg(x) {
        x.style.height = "170px";
        x.style.width = "270px";
      }

      function normalImg(x) {
        x.style.height = "150px";
        x.style.width = "250px";
      }

      function big(x) {
        x.style.height = "350px";
        x.style.width = "550px";
      }

      function normal(x) {
        x.style.height = "300px";
        x.style.width = "500px";
      }
      </script>

  </body>
</html>